<form 
[formGroup]="registerForm"
(ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">
        Add member
    </h2>
    <hr>
    
    <app-text-input 
        [InputFormControl]='toFormControl(registerForm.controls["name"])'
        [label] ='"Name"'
        [type] ='"text"'
    >
    </app-text-input>
   
    <app-date-input 
        [InputFormControl]='registerForm.controls["dateOfBirth"]'
        [label] ='"Date of birth"'
        [maxDate] ='maxDate'>
    </app-date-input>
    <app-text-input 
        [InputFormControl]='toFormControl(registerForm.controls["salary"])'
        [label] ='"Salary"'
        [type] ='"number"'
    >
    </app-text-input>
    
    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
            {{ error }}
          </li>
        </ul>
      </div>
    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit" >
            Add
        </button>
        
    </div>
</form>

